* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.container {
    display: grid;
    min-height: 100vh;
    grid-template-columns: repeat(5, min-width);
    grid-template-rows: repeat(5, fit-content);
}

/* header */

.header {
    background-color: lightblue;
    grid-column: 2/6;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 2fr;
    padding: 20px 40px 20px 40px;
    border-bottom: 3px black solid;
}

.top-left{
    display: flex;
    gap: 15px;
    grid-row: 1/1;
    grid-column: 1/2;
    justify-content: flex-start;
    align-items: center;
}

.top-left > img {
    height: 30px;
}

.top-left > input {
    height: 30px;
    width: 80%;
    border-radius: 50px;
    padding: 0px 13px 0px 13px;
    background-color:#FFFDD0;
}

.top-right{
    grid-row: 1/2;
    grid-column: 2/3;
    display: flex;
    justify-content: flex-end;
    gap: 25px;
    align-items: center;
}

.top-right > img{
    height: 35px;
}

#sheep{
    height: 40px;
    border-radius: 50px;
    background-color: peachpuff;
}

.top-right > h7 {
    font-size: 1.3rem;
    font-weight: 700;
}

.bottom-left{
    grid-row: 3/4;
    grid-column: 1/2;
    display: flex;
    align-items: center;
    gap: 20px;
}

.bottom-left-icon{
    grid-row: 3/4;
    grid-column: 1/2;
    display: flex;
    align-items:flex-end;
}

.bottom-left-icon > #sheep2 {
    height: 60px;
    width: auto;
    background-color: peachpuff;
    border-radius: 50px;
}

.bottom-left-name {
    grid-row: 2/3;
    grid-column: 1/2;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-weight: 700;
}

#name{
    font-size: 1.4rem;
    margin-top: 5px;
}

.bottom-right{
    grid-row: 3/4;
    grid-column: 2/3;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding-left: 15px;
}

.bottom-right > button{
    background-color: #FFFDD0;
    border-radius: 30px;
    height: 45px;
    width: 100px;
    font-size: 1rem;
    font-weight: 700;
}

/* sidebar */

.sidebar{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    grid-column: 1/2;
    grid-row: 1/6;
    background-color: #FFFDD0;
    padding: 10px 15px 0px 10px;
    gap: 20px;
    height: 100%;
}

.dashboard{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 30px;
}

.links{
    display: flex;
    gap: 13px;
    align-items: center;
    padding-left: 10px;
}

.sidebar > h2{
    font-size: 2rem;
}

#dash{
    height: 65px;
    min-width: auto;
}

.links > img {
    height: 30px;
    width: auto;
    
}

.links > a {
    text-decoration: none;
    font-size: 1.1rem;
    color: black;
}

#community{
    margin-bottom: 30px;
}

/* main */

.main {
    grid-column: 2 / 6;
    grid-row: 2 / 6;
    display: grid;
    background-color: peachpuff;
    grid-template-rows: 1fr 12fr 1fr;
    grid-template-columns: 3fr 1fr;
    padding: 0px 10px 0px 15px;
    min-height: 130vh;
}

.cards{
    display: grid;
    grid-column: 1/2;
    grid-row: 2/2;
    grid-template: repeat(3,1fr) / repeat(2,1fr);
    gap: 15px;
}

.cards > div{
    flex-grow: 1;
    border: 2px black solid;
    border-left: 11px black solid;
    border-radius: 27px;
    background-color: #FFFDD0;
    padding: 30px 25px;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

.dog{
    display: flex;
    flex-flow: column;
    gap: 10px;
    padding-right: 25px;
}

.dog > h5{
    font-weight: bolder;
    font-size: 1rem;
}

.images{
    display: flex;
    justify-content: flex-end;
    gap: 20px;

}

.images > img{
    height: 35px;
    width: auto;
    align-self: flex-start;
}

.main-side{
    display: grid;
    grid-column: 2/3;
    grid-row: 2/3;
    grid-template: 5fr 1fr 5fr / 1fr;
    padding: 0px 15px 0px 15px;
}

.main-side > div{
    flex-grow: 1;
    border: 2px black solid;
    background-color: #FFFDD0;
}

.main  > span{
    align-self: center;
    font-size: 1.5rem;
    font-weight: 700;
}

.main-side > span{
    align-self: center;
    font-size: 1.5rem;
    font-weight: 700;
    }
.main-side-top{
    display: flex;
    flex-flow: column;
    padding: 10px 15px;
}

.main-side-top > div{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    flex-flow: column;
}

#mst-mid{
    border-top: 2px black solid;
    border-bottom: 2px black solid;
}

#Trend{
    padding-left: 15px;
}

.mst-bold{
    font-weight: 700;
}

.main-side-bottom{
    display: flex;
    flex-flow: column;
    padding: 15px;
}

.main-side-bottom > section{
    flex-grow: 1;
    display: flex;
    gap: 13px;
    align-items: center;
}

.msb-para{
    display: flex;
    flex-flow: column;
    font-size: .9rem;
}

.trend-sheep{
    height: 50px;
    width: auto;
    border-radius: 50px;
    background-color: lightblue;
}

.msb-para > h5{
    font-weight: bolder;
    font-size: .9rem;
}
