*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    background-color: black;
    height: 176vh;
    width: 100%;
}

.container{
    display: grid;
    height: 100%;
    width: 100%;
    background-color: silver;
    grid-template-columns: repeat(11,1fr);
    grid-template-rows: repeat(12,1fr);
}

.header{
    border: blue 1px solid;
    grid-column: 3/13;
    grid-row: 1/3;
}

.sidebar{
    border: yellow 1px solid;
    grid-column: 1/3;
    grid-row: 1/13;
}

.main{
    border: lime 1px solid;
    grid-column: 3/12;
    grid-row: 3/13;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(1,1fr);


}

.main_mid{

display: grid;
grid-template-columns: repeat(2,1fr);
grid-template-rows: repeat(3,1fr);
grid-gap: 20px; 
padding: 70px 0px 70px 15px; 
grid-column: 1/10;
}

.main_mid > div{
    border: 1px black solid;
}

.main_side{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(2,1fr);
    grid-gap: 76px;
    padding: 70px 30px 70px 30px; 
    grid-column: 10/13;
}

.main_side > div{
    border: 1px black solid;
} 

.sidebar > img {
    height: 50px;
    width: 50px;
}

