*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    display: flex;
    justify-content: center;
    background-color: silver;
    height: 148vh;
    width: 100%;
}

.container{
    display: grid;
    height: 100%;
    width: 100%;
    background-color: silver;
    grid-template-columns: repeat(11,1fr);
    grid-template-rows: repeat(12,1fr);
}

/* header */

.header{
    background-color: lightblue;
    grid-column: 3/13;
    grid-row: 1/3;
}

.header > #search{
    height: 40px;
    width: auto;
}

.header > img{
    height: 76px;
    width: auto;
    border-radius: 50px;
    position: relative;
    right: 25px;
    top: 25px;
}

/* main-mid*/



.main{
    grid-column: 3/12;
    grid-row: 3/13;
    border-right: 10px lightblue solid;
    border-bottom: 10px lightblue solid;
    background-color: peachpuff;
    border: 3px black solid;
    border-top: 9px solid black;
    display: grid;
    grid-template-columns: 5fr 2fr;
}

.main_mid{
    display: grid;
    grid-template-rows: 50px 1fr 50px;
}

.projects{
    grid-row: 1/1;
    margin-left: 10px;
    margin-top: 10px;
    font-size: 2rem;
}

.cards{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(3,1fr);
    grid-gap: 15px; 
    grid-row: 2/3;
    margin-left: 10px;
}

.cards > div{
    border-radius: 13px;
    border: 3px black solid;
    border-left: 9px black solid;
    background-color: #FFFDD0;
}


/* main_side */

.main_side  {
    grid-column: 2/3;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    display: grid;
}

.announce {
    grid-row: 1/2;
    font-size: 2rem;
    display: grid;
    grid-template-rows: 50px 1fr;
    margin-bottom: 35px;

}

.announce > div{
    border-radius: 13px;
    border: 3px black solid;
    background-color: #FFFDD0;
    grid-row: 2/3;
    margin-left: 15px;
    margin-right: 15px;
}

.trending {
    grid-row: 2/3;
    font-size: 2rem;
    grid-template-rows: 25px 1fr;
    display: grid;
    margin-bottom: 50px;
    margin-top: 10px;
}

 .trending > h5{
    margin-left: 15px;
    margin-bottom: 15px;
    margin-top: -15px;
 }


.announce > h5{
    margin-left: 15px;
    margin-top: 10px;
}


.trending > div{
    border-radius: 13px;
    border: 3px black solid;
    background-color: #FFFDD0; 
    grid-row: 2/3;
    margin-left: 15px;
    margin-right: 15px;
}






/* sidebar */


.sidebar {
    background-color:#FFFDD0;
    grid-row: 1 /13;
    grid-column: 1 /3;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-right: lightblue 10px solid;

}



.dashboard{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 10px 0 50px 15px;
    font-size: 1.5rem;
    gap: 5px;
     
}

.links{
    display: flex;
    align-self: flex-start;
    justify-content: center;
    gap: 25px;
    margin: 10px 0 13px 23px;
    font-weight: bolder;
}

#community{
    margin-bottom: 50px;
}


.sidebar a{
    font-size: 1.1rem;
    text-decoration: none;
    color: black;
    align-self: center;
}

.svg {
    height: 30px;
    width: auto;   
}

.dash{
    height: 65px;
    width: auto;
}

